<form method="post" action="/home/postnumbers">
    <div class="row">

        <div class="col-md-6 offset-md-3">
            <input type="text" name="numbers" placeholder="Number" class="form-control" />
        </div>
        <div class="col-md-6 offset-md-3">
            <input type="text" name="numbers" placeholder="Number" class="form-control" />
        </div>
        <div class="col-md-6 offset-md-3">
            <input type="text" name="numbers" placeholder="Number" class="form-control" />
        </div>
        <div class="col-md-6 offset-md-3">
            <input type="text" name="numbers" placeholder="Number" class="form-control" />
        </div>
        
        <div class="col-md-6 offset-md-3">
            <button class="btn btn-dark btn-block">Submit</button>
        </div>

    </div>
</form>