

<form method="post" action="/home/addfurniture">
    <div class="row">
        <div class="bg-light rounded-3 p-5 mt-3">
            <div class="col-md-6 offset-md-3">
                <input type="text" name="items[0].name" class="form-control" placeholder="Name" />
            </div>
            <div class="col-md-6 offset-md-3 mt-3">
                <input type="text" name="items[0].color" class="form-control" placeholder="Color" />
            </div>
            <div class="col-md-6 offset-md-3 mt-3">
                <input type="text" name="items[0].price" class="form-control" placeholder="Price" />
            </div>
            <div class="col-md-6 offset-md-3 mt-3">
                <input type="text" name="items[0].quantityinstock" class="form-control" placeholder="QTY" />
            </div>
            
        </div>

        <div class="bg-light rounded-3 p-5 mt-3">
            <div class="col-md-6 offset-md-3">
                <input type="text" name="items[1].name" class="form-control" placeholder="Name" />
            </div>
            <div class="col-md-6 offset-md-3 mt-3">
                <input type="text" name="items[1].color" class="form-control" placeholder="Color" />
            </div>
            <div class="col-md-6 offset-md-3 mt-3">
                <input type="text" name="items[1].price" class="form-control" placeholder="Price" />
            </div>
            <div class="col-md-6 offset-md-3 mt-3">
                <input type="text" name="items[1].quantityinstock" class="form-control" placeholder="QTY" />
            </div>

        </div>

        <div class="col-md-6 offset-md-3 mt-3">
            <button class="btn btn-dark">Submit</button>
        </div>
    </div>


</form>